common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.clkio.com/common"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified"
	elementFormDefault="qualified">

	<xs:complexType name="response">
		<xs:sequence>
			<xs:element name="message" type="xs:string" maxOccurs="1" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="responseException">
		<xs:sequence>
			<xs:element name="info" type="xs:string" maxOccurs="1" minOccurs="1" />
			<xs:element name="message" type="xs:string" maxOccurs="1" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
